.CartDetail {
  background-color: var(--white);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.025);
  flex-basis: 60%;
  padding: 3% 2% 1%;
  border: solid thin var(--grayLightBorder);
  border-radius: 0.4rem;
}

.CartDetail .CartDetailHeader {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid thin var(--grayLightBorder);
}
.CartDetailHeader .DetailHeaderData {
  flex-basis: 15%;
  text-align: center;
}
.CartDetailHeader .DetailHeaderProduct {
  flex-basis: 30%;
  text-align: left;
}
.CartDetailHeader .DetailHeaderQuantity {
  flex-basis: 25%;
}
.CartDetail_table {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  border-bottom: solid thin var(--grayLightBorder);
}
.CartDetail_table .detail_table_value {
  flex-basis: 15%;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 0.04rem;
}

.CartDetail_table .detail_product {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  align-items: center;
}
.CartDetail_table .detail_table-quantity {
  flex-basis: 25%;
}

.CartDetail_table .detail_product .detail_product_image {
  position: relative;
  width: 8rem;
  aspect-ratio: 1/1;
}
.CartDetail_table .detail_product_image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.CartDetail_table .detail_product .detail_product_name {
  width: 90%;
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.4em;
  text-transform: capitalize;
}
.CartDetail_table .detail_price {
  color: var(--whiteDimText);
}
.CartDetail_table .cart_quanitity_counter {
  border: solid thin var(--grayLightBorder);
  border-radius: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
}
.CartDetail_table .cart_quanitity_counter .btn {
  font-size: 2rem;
  color: var(--whiteDim);
}
.CartDetail_table .cart_quanitity_counter .btn:hover,
.btn:active {
  color: var(--mainColor);
  color: black;
}

.CartDetail_table .detail_total {
  font-size: 1.6rem;
}
.CartDetail_table .detail_btn {
  transition: all 0.2s;
  font-size: 2rem;
}
.CartDetail_table .detail_btn:hover {
  color: var(--mainColor);
}
.CartDetail .btn_cart-update {
  background-color: var(--mainColorBold);
  display: block;
  width: fit-content;
  margin: 1rem 1rem 1rem auto;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  border-radius: 0.4rem;
  color: var(--white);
}
.CartDetail .btn_cart-update:disabled {
  opacity: 0.5;
}

@media (max-width: 880px) {
  .CartDetail {
    width: 95%;
    margin: 2rem auto;
  }
}

@media (max-width: 660px) {
  .CartDetailHeader {
    flex-flow: column;
    display: none !important;
  }
  .CartDetail_table {
    padding: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .CartDetail_table .detail_table_value {
    flex-basis: 20%;
  }

  .CartDetail_table .detail_product {
    flex-basis: 100%;
    display: flex;
  }
}
