.BarsContainer {
  margin-top: 2rem;
  width: 100%;
  padding-right: 10rem;
  display: flex;
  align-items: center;
  padding: 4rem 4rem;
  justify-content: center;
}
.MainContainer {
  font-family: "Poppins", sans-serif;
  display: flex;
  padding: 4rem 4rem;
  gap: 2rem;
}
.CategoriesContainer {
  padding: 4rem 4rem;
  border: 1px solid #f6f8fe;
  box-shadow: 0px 10px 10px 0px rgb(153 153 153 / 10%);
  width: 30rem;
}
.ProductsContainer {
  display: flex;
}

li {
  list-style: none;
}
a {
  font-family: "Poppins", sans-serif;
}
.SidebarTitle {
  font-size: 2.6rem;
  color: #111111;
  margin-bottom: 2.4rem;
}
.CatContainer {
}
.category {
  margin-bottom: 1.6rem;
}
.CatTitle {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.DownIcon {
  font-size: 2rem;
  color: #666666;
}

.CatLink {
  font-size: 1.4rem;
  display: block;
  color: #787878;
  margin-bottom: 0.5rem;
  font-weight: 300;
}
.Active {
  color: blue;
}
.ProductImgContainer {
  height: 31rem !important;
}
.ProductCardContainer {
  margin-bottom: 3rem;
}

.ProductImg {
  width: 30rem;
  height: 30rem;
}
.ProductDescriptionContainer {
  padding: 0;
}
.Products {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.SearchInput {
  color: #495057;

  height: 3.9rem;
  padding: 0.375rem 0.75rem;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 0.1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.SearchInput::placeholder {
  color: #495057da !important;
}

.SearchInput:focus {
  color: #495057;

  background-color: #fff;
  border-color: #dddddd;
  outline: 0;
  box-shadow: none;
}
.BtnSearch {
  border-radius: 0.1rem;
  font-family: "Poppins", sans-serif;
  padding: 7px 32px;

  background-color: #ff3368;
  border: 1px solid #ecfdff;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid #ff3368;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.BtnSearch:hover {
  color: #fff;
  background-color: red;
  transition: 0.2s ease-in-out;
}
.SearchForm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SortContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}
.Sortby {
  font-size: 2rem;
}
@media (max-width: 800px) {
  .MainContainer {
    display: flex;
    flex-direction: column;
  }
  .CategoriesContainer {
    width: 100%;
    padding: 4rem 4rem;
    border: 1px solid #f6f8fe;
    box-shadow: 0px 10px 10px 0px rgb(153 153 153 / 10%);
  }
  .ProductCardContainer {
    flex-grow: 1;
  }
  .ProductImg {
    width: 100%;
    height: 30rem;
  }
}

@media (max-width: 600px) {
  .MainContainer {
    display: flex;

    flex-direction: column;
  }
  .CategoriesContainer {
    width: 100%;
    padding: 4rem 4rem;
    border: 1px solid #f6f8fe;
    box-shadow: 0px 10px 10px 0px rgb(153 153 153 / 10%);
  }
  .Products {
    align-items: center;
    justify-content: center;
  }
}
