:root {
  --inputBorder: #d2d6dc;
  --labelColor: rgb(135, 135, 135);
}
.shipping_main {
  display: flex;
  justify-content: space-around;
}
.billing_form {
  flex-basis: 49%;
  padding: 3% 1%;
}
.shiping_title {
  margin: 2rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
}
.form_title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
}
.input_container {
  width: 100%;
  margin: 1rem auto;
}
.input_container .input {
  display: block;
  height: 4.5rem;
  width: 100%;
  padding-left: 0.8rem;
  outline: none;
  border: solid thin var(--inputBorder);
  background-color: white;
  border-radius: 0.4rem;
  letter-spacing: 0.06rem;
}
.input::placeholder {
  z-index: -1;
  color: white;
}
.input_container .input-note {
  padding: 2%;
  height: 5.5rem;
}
.input_container .input-note::placeholder {
  z-index: -1;
  color: var(--inputBorder);
}
.input_container .input:focus {
  border: solid 0.2rem var(--inputBorder);
}
.input_container .input:not(:placeholder-shown) {
  border: solid 0.2rem var(--inputBorder);
}
.input_container .label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: 0.04rem;
  margin-left: 0.1rem;
  width: fit-content;
  color: var(--labelColor);
}
.label .required {
  padding-left: 0.2rem;
}
.label .optional {
  padding-left: 0.1rem;
}
.shipping_right {
  flex-basis: 45%;
}

.shipping_summary {
  background-color: var(--white);
  color: black;
}
.shipping_summary_row {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  font-size: 1.3rem;
  letter-spacing: 0.08rem;
  text-transform: capitalize;
  border: solid thin var(--grayLightBorder);
  border-radius: 0.02rem;
}
.shipping_summary_row .summary_name {
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.04rem;
}
.shipping_summary_row .summary_value {
  text-align: right;
  line-height: 1.6em;
}
.shipping_summary_row .summary_value-total {
  text-align: right;
  line-height: 1.6em;
  font-size: 1.5rem;
  font-weight: 600;
}

/* --------------- shipping orders styles */
.shipping_order {
}
.shipping_order {
  display: flex;
  padding: 2% 4%;
  gap: 1rem;
  border-bottom: solid thin var(--inputBorder);
  border-radius: 0.4rem;
  margin-bottom: 0.8rem;
}
.shipping_order_image {
  height: 8rem;
  aspect-ratio: 1/1;
  position: relative;
}
.shipping_order_image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shipping_order_text {
  font-size: 1.3rem;
  flex-basis: 40%;
  justify-self: flex-start;
}
.text-amount {
  font-size: 1.4rem;
  font-weight: 700;
}
.text-amount .times {
  font-size: 80%;
}
.text-name {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.shipping_order_price {
  font-size: 1.4rem;
  color: var(--whiteDimText);
  margin-left: auto;
}
.shipping_order_price .amount {
  font-size: 1.8rem;
  font-weight: 600;
  padding-right: 0.4rem;
}
/* --------------- shipping orders styles  ends */

/* --------------- shipping payment styles  ends */

.payment_form {
  margin: 2rem auto;
}
.payment_main {
  gap: 1rem;
  margin: 2rem auto;
  border: solid thin var(--inputBorder);
  padding: 5%;
  border-radius: 0.4rem;
}

.payment_option {
  border-radius: 0.4rem;
  /* border: none; */
  border: solid thin var(--inputBorder);
  width: 80%;
  margin: 2rem auto;
  display: block;
  border-radius: 0.4rem;
}
.payment_option-selected {
  border: solid var(--mainColor);
}
.option_image {
  height: 18rem;
  position: relative;
}
.option_image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.option_desc {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.option_text {
  display: inline;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}
.payment_note {
  margin: 2rem auto;
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  color: var(--whiteDimText);
}
.btn_payment {
  width: 100%;
  background-color: #b2672e;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
  padding: 1.2rem;
  transition: all 0.3s;
  color: var(--white);
}
.btn_payment:active {
  color: var(--white);
}
.btn_payment-disabled {
  opacity: 0.5;
}
.btn_payment:hover {
  opacity: 0.9;
}
.btn_payment-disabled:hover {
  color: var(--white);
  opacity: 0.5;
}

@media (max-width: 880px) {
  .shipping_main {
  }
  .billing_form {
    padding: 1%;
  }
  .shipping_right {
    padding: 1%;
  }
  .option_image {
    height: 10rem;
    position: relative;
  }
}
@media (max-width: 660px) {
  .shipping_main {
    flex-flow: column;
  }
  .billing_form {
    padding: 3% 5%;
  }
  .shipping_right {
    padding: 3% 5%;
  }
  .option_image {
    height: 18rem;
    position: relative;
  }
}
@media (max-width: 550px) {
  .option_image {
    height: 15rem;
    position: relative;
  }
}
.input_container_lable {
  display: flex;
  gap: 2rem;
  /* align-items: center; */
}
.input_error_message {
  display: flex;
  font-size: 1.4rem;
  color: red;
  letter-spacing: 0.06rem;
}
