:root {
  --whiteDim: #babac6;
  --whiteDimBorder: #edeff2;
  --btnColor: #ff3368;
  --grayLight: #666666;
  --grayLightBorder: rgba(128, 128, 128, 0.437);
  --inputBorder: #d2d6dc;
  --labelColor: rgb(135, 135, 135);
  --mainColor: #ff3368;
  --mainColorBold: #b2672e;
  --whiteDim: #babac6;
  --whiteDimText: #89898e;
  --white: #fff;

  --color-black: #222222;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
.App {
  background-color: white;
}
.section_title {
  margin: 2rem auto;
  text-align: center;
  width: fit-content;
  text-transform: capitalize;
  letter-spacing: 0.08rem;
}
.section_title .section_title_main {
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  text-align: center;
}
.section_title .section_title_main .underline {
  margin: 0.8rem auto 1rem;
}

.section_blog .section_title .section_title_sub {
  font-size: 2rem;
  margin-top: 0.8rem;
  text-transform: capitalize;
  letter-spacing: 0.06rem;
}

@media (max-width: 880px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 660px) {
  html {
    font-size: 8px;
  }
}
