:root {
  --bg: #ecfdff;
}
.section_confirmation {
  padding: 5% 2%;
}
.shipping_info {
  display: flex;
  justify-content: space-around;
}
.shipping_order_info {
  flex-basis: 45%;
  border-radius: 0.2rem;
  background-color: var(--bg);
  padding: 3%;
}
.shipping_address_info {
  background-color: var(--bg);
  flex-basis: 45%;
  padding: 3%;
}
.shipping_info_title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #222222;
  text-transform: capitalize;
  margin-bottom: 1.6rem;
  width: fit-content;
}
.back_btn {
  font-size: 2.4rem;
  margin: 1rem 3rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.08rem;
  position: relative;
  width: fit-content;
  transition: all 0.3s;
}
.back_btn .btn {
  font-size: 2.4rem;
}
.btn_desc {
  transition: all 0.3s;
  opacity: 0;
  width: 300%;
  position: absolute;
  top: 20%;
  left: 110%;
  font-size: 1.4rem;
  color: var(--whiteDimText);
}
.back_btn:hover {
  color: var(--mainColor);
}
.back_btn:hover .btn_desc {
  opacity: 1;
}
.title_bar {
  margin-top: 0.8rem;
  height: 0.01rem;
  background-color: #dddddd;
}
.info_main {
  padding-left: 0.8rem;
}
.info_main .info {
  display: flex;
  gap: 10%;
  text-transform: capitalize;
  margin-bottom: 0.4rem;
  letter-spacing: 0.08rem;
  font-size: 1.6rem;
}
.info .info_name {
  flex-basis: 45%;
  color: #777777;
}
.info .info_value {
  flex-basis: 45%;
  font-size: 1.6rem;
}
.product_info {
  width: 95%;
  margin: 4rem auto auto;
  padding: 3%;
  background-color: var(--bg);
  border-radius: 0.2rem;
}
.product_info_list {
  width: 95%;
  margin: 2rem auto;
}
.shipping_info_title_flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  margin-bottom: 2.6rem;
  letter-spacing: 0.08rem;
}
.shipping_info_title_flex .title_order_status {
  color: var(--mainColor);
  font-weight: 600;
}
.title_order_date {
  margin-top: 0.8rem;
}
.shipping_info_title_flex .title_order_status_side {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.6rem;
}
.shipping_info_title_flex .order_title_value {
  color: var(--whiteDimText);
}
.order_title_btn {
  display: block;
  width: fit-content;
  padding: 0.6rem 2.4rem 0.6rem 2.4rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  letter-spacing: 0.08rem;
  border: solid thin var(--whiteDim);
  border-radius: 0.4rem;
  background-color: transparent;
  transition: all 0.3s;
  color: var(--mainColor);
}
.order_title_btn:hover {
  background-color: var(--mainColor);
  color: var(--white);
}
.order_detail_header {
  display: flex;
  color: #222222;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.06rem;
  padding: 1.6rem 0.8rem;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-transform: capitalize;
}
.order_detail_header div {
  flex-basis: 15%;
}
.order_detail_header .detail_header_name {
  flex-basis: 55%;
}

.order_detail_body {
  padding: 1.8rem 0.8rem;
}
.detail_body_row {
  display: flex;
  color: #222222;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.08rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0.4rem 0rem;
}
.detail_body_row-borderd {
  border-bottom: 1px solid #dddddd;
}
.detail_body_row div {
  flex-basis: 15%;
}
.detail_body_row .detail_body_name {
  flex-basis: 55%;
  padding-right: 5%;
}
.detail_gray {
  color: #777777;
  font-weight: 400;
}
@media (max-width: 880px) {
}
@media (max-width: 660px) {
  .shipping_info {
    flex-flow: column;
    align-items: center;
    gap: 2rem;
  }
  .shipping_order_info {
    width: 95%;
  }
  .shipping_address_info {
    width: 95%;
  }
}
