.List {
  list-style: none;
}

.Link:link,
.Link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #212529;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
}

.Link:hover,
.Link:active {
  color: #ff3368;
}
