.Optional {
  background-color: #ecfeff;
  padding: 8rem 0;

  display: flex;
  flex-flow: row wrap;
}

.OptionalLeft {
  flex-basis: 40%;
  padding: 0.8rem;
  min-height: 300px;
  position: relative;
}

.OptionalLeft img {
  position: absolute;
  top: 0;
  left: 30%;
  width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.OptionalRight {
  flex-basis: 60%;
  padding: 5%;
}

.OptionalRight .OptionalHeader {
  font-size: 3.6rem;
  width: 90%;
  font-weight: 700;
  padding: 0.4rem;
}

.OptionalRight .OptionalCounter {
  display: flex;
  justify-content: space-around;
}

.CounterInfo {
  border-right: 0.1rem solid var(--whiteDimBorder);
  padding: 7%;
}

.CounterInfoName {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--grayLight);
}
.CounterInfoValue {
  text-align: left;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}
.OptionalForm {
  width: 100%;
  margin: 2rem auto;
  position: relative;
  background-color: var(--white);
  height: 6rem;
  padding: 0.1rem;
  z-index: 1;
  border-radius: 0.4rem;
}
.OptionalFormHeader {
  border-radius: 0.4rem;
  position: absolute;
  top: 0rem;
  left: 0;
  width: 70%;
  height: 100%;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 100;
  color: var(--grayLight);
  display: flex;
  align-items: center;
  padding-left: 2.4rem;
  letter-spacing: 0.06rem;
  border: none;
  outline: none;
  z-index: 3;
  background-color: var(--white);
}
.OptionalBtn {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 30%;
  height: 100%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  border-radius: 0.5rem;
  border-bottom-left-radius: 0rem;
  border-top-left-radius: 0rem;
  line-height: 1rem;
  border: none;
  transition: all 0.3s;
  background: var(--btnColor);
  transition: all 0.3s;
  background: linear-gradient(to left bottom, var(--btnColor), var(--btnColor));
}
.OptionalBtn:hover {
  background: linear-gradient(
    to left bottom,
    rgb(212, 212, 33) 1%,
    var(--mainColor)
  );
}
@media (max-width: 880px) {
  .OptionalLeft {
    height: auto;
  }
  .OptionalLeft img {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }
  .OptionalRight {
    padding: 5% 2%;
  }
  .OptionalRight .OptionalHeader {
    font-size: 3.6rem;
    width: 97%;
  }
}

@media screen and (max-width: 660px) {
  .OptionalLeft {
    flex-basis: 80%;
    height: auto;
  }
  .OptionalLeft img {
    top: 15%;
    left: 15%;
    width: 70%;
    height: 90%;
  }
  .OptionalRight {
    margin-top: 3rem;
    flex-basis: 80%;
    padding: 5% 2%;
  }
  .OptionalRight .OptionalHeader {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
  }

  .CounterInfoName {
    font-size: 1.2rem;
  }
  .CounterInfoValue {
    font-size: 2.4rem;
  }
  .OptionalForm {
    height: 5rem;
  }
  .OptionalFormHeader {
    font-size: 1.2rem;
  }
  .OptionalBtn {
    font-size: 1.2rem;
  }
}
