.Nav {
  background-color: var(--color-black);
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavIcons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.Icons {
  font-size: 3rem;
  color: #edeff2;
  cursor: pointer;
}

.Cart {
  position: relative;
}

.CartCount {
  position: absolute;
  top: -1rem;

  background-color: var(--mainColor);
  border-radius: 50%;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  color: #edeff2;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .NavIcons {
    display: none;
  }
}
